.bg-color-black {
    background-color: black;
    color: white;
}
.border-solid {
    border-style: solid; }

.border-color{
    border-color: #475154
; }

.bg-color-gray {
    background-color: #657786;
}

.padded-top-left {
    padding-left: 16px;
}

.rounded-corners-all-around {
    border-radius: 50px;
}

.fg-color-white { color: white; }

#menu-outer {
    height: 20x;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 0px;
}
ul#horizontal-list li {
    display: inline;
}
